<head>
        <link rel="stylesheet" href="/css/estilo.css">
</head>

<div id="conteudo">
        <header>
            <h1>Excluir Produto</h1>
        </header>
        <div id="forms">
            <form action="/vendedor/excluirProduto" method="post" id="form">
            
                <div class="inputNome">
                    <input type="text" name="fornecedor" placeholder="Nome do Fornecedor" required>
                </div>
                
                <button type="submit" id="button">Excluir</button>
            </form>
        </div>
    </div>