<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da conta de usuário</title>
        <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>

 <div id="conteudo">
        <header>
            <h1>Detalhes da Conta</h1>
        </header>
        <div id="forms">
            
                <div class="inputNome">
                    <h2>Usuário: {{cliente.name}}</h2>
                </div>

                <div class="inputEmail">
                    <p>Email: {{cliente.email}}</p>
                </div>
        </div>

    </div>
    </body>
    </html>